.button {
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  
  .medium {
    font-size: 16px;
  }
  
  .large {
    font-size: 20px;
    padding: 15px 30px;
  }
  
  .small {
    font-size: 12px;
    padding:  5px 10px;
  }
  .buttonLoader{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #ffffff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}