.error {
    border: 1px solid #e74c3c;
}

.errorMessage {
    color: #e74c3c;
    font-size: 14px;
}

.blog_heading {
    margin-top: 60px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
        flex-direction: column;
      }
    h3 {
        color: #eb3e8c;
        font-size: 28px;
    }
    .filters {
        gap: 15px;
        display: flex;
        @media(max-width:600px){
            margin-top: 20px;

        }
        @media (max-width: 500px) {
          flex-direction: column;
        }
        div {
            margin: 0 !important;
        }
    }
}

.card_btns {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogs {
    display: grid;
    gap: 60px;
    justify-content: center;
    margin-top: 40px;
    grid-template-columns: auto auto auto auto;
    @media (max-width: 1024px) {
        grid-template-columns: auto auto auto;
    }
    @media (max-width: 768px) {
        grid-template-columns: auto auto !important;
    }
    @media (max-width: 580px) {
        grid-template-columns: auto!important;
        padding: 15px;
    }
}
.content {
    padding: 25px;
}
.blog_card {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.3s ease;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    a {
        text-decoration: none;
        color: #fff;
    }

    div {
        padding: 15px;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    h1 {
        padding: 15px;
        font-size: 16px;
        font-weight: 500;
    }

    &:hover {
        transform: translateY(-5px);
    }
}
