
.error {
    border: 1px solid #e74c3c;
}

.errorMessage {
    color: #e74c3c;
    font-size: 14px;
}
.filters{
    gap: 30px;
    display: flex;
    width: 100%;
    div{
        margin: 0!important;
    }
   
}
.card_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.blogs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    @media (max-width: 1024px) {
        grid-template-columns: auto auto auto;
    }
    @media (max-width: 768px) {
        grid-template-columns: auto auto;
    }
    @media (max-width: 480px) {
        grid-template-columns: auto;
    }
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.content {
    padding: 15px;
}
.blog_card {
    max-width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    a{
        text-decoration: none;
        color: #fff;
    }
    h1 {
        padding: 15px;
    }
    div {
        padding: 15px;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    h1 {
        font-size: 16px;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        margin: 0 10px 10px 10px;
    }

    &:hover {
        transform: translateY(-5px);
    }
}
